table {
  border-collapse: separate !important;
  border-spacing: 25px 0;
}

td {
  padding: 10px 0;
}

.statusContainer {
  display: flex;
  justify-content: center;
}

.statusArea {
  width: 50em;
  margin: 15px;
  text-align: center;
}

#statusMessage {
  background-color: #eeee0050;
}

.searchfield {
  margin-right: 10px;
}

.searchResult > * {
  font-size: 0.875rem;
  display: flex;
  position: relative;
}

.searchResult {
  margin-bottom: 25px;
  max-width: 700px;
}

a.searchResultUrl {
  max-width: 538px;
  font-size: 0.8125rem;
  word-break: break-all;
  line-height: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  color: #333333;
}

a.searchResultUrl:hover {
  text-decoration: none;
}

.searchResultTitle {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  color: black;
  border-bottom: 1px solid #777777;
}

a.searchResultTitle:hover {
  text-decoration: none;
}

.searchResultDescriptionContent {
  width: 100%;
  font-size: 0.875rem;
  color: #111111;
}
